<div style="text-align: center;border-radius: 25px" class="jumbotron">
  <h1 class="display-3">About Us</h1>
  <p class="lead">We're an online store dedicated to the sales of tech merchandise</p>
  <p>West Hollywood</p>
  <p>9954 Wilshire Blvd Suite #1400</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/" role="button">Go Back</a>
  </p>
</div>