<div style="text-align: center; background-image: url(https://i.imgur.com/MdMniMd.jpg);image-rendering: -webkit-optimize-contrast;" class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Welcome to TheShop</h1>
  <p class="lead">Check out our special sales on new tech</p>
  <p>Websites for Sale!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="http://www.nhanto.info" role="button">Return</a>
  </p>
</div>

<div style="padding: 15px" class="container">
	  <div class="row">
    <div class="col">
     <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://i.imgur.com/d8xuk0p.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <p>iPad</p>
    <p>$300</p>
    <button style="float:right" type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://i.imgur.com/2BhWkmp.jpg" border="0" alt="Card image cap">
  <div class="card-body">
    <p>Aedle Headphones</p>
    <p>$100</p>
    <button style="float:right" type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://i.imgur.com/5h6cGSk.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <p>MacBook Air</p>
    <p>$800</p>
    <button style="float:right" type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
        <div class="col">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://i.imgur.com/GVyRMWf.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <p>Samsung S7</p>
    <p>$600</p>
    <button style="float:right" type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
  </div>
</div>